/*Global Styling*/
html, body{
    box-sizing: border-box;
    font-size: 20px;
    margin: 0;
    padding: 0;
    font-family: 'Amatic SC', cursive;
}

/*font families imported from Google Fonts
font-family: 'Amatic SC', cursive;
font-family: 'Pathway Gothic One', sans-serif;
font-family: 'Rampart One', cursive;
font-family: 'Roboto', sans-serif;
*/

.container{
    display: flex;
}

/*---------Styling for the header of the page, including nav elements------------*/
header{
    height: 4rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: honeydew;
    position: fixed;
    z-index: 10;
}

#linkIcons{
    position: absolute;
    left: 0%;
    height: 100%;
    display: flex;
}

.navIcon{
    height: 2.5rem;
    width: auto;
    margin-left: 1.5rem;
    align-self: center;
}

#my-name{
    font-family: 'Amatic SC', cursive;
    font-size: 3rem;
    position: relative;
    margin: auto;
}

#menuIcon{
    height: 4rem;
    width: auto;
    position: absolute;
    right: 0%; 
    z-index: 101;
    cursor: pointer;
}
/*------------The Nav Menu------------*/
#navMenu{
    display: flex;
    position: fixed;
    background-color: wheat;
    height: 60rem;
    width: 0%;
    z-index: 100;
    right: 0;
    transition-duration: 1s;
    overflow-x: hidden;
}

nav{
    margin-top: 2rem;
    width: 100%;
    display: flex;
    height: 100%;
    justify-content: center;

}

nav ul{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0%;
}

nav ul li{
    font-family: 'Amatic SC', cursive;
    margin-top: 2rem;
    margin-left: 20%;
    font-size: 3rem;
    list-style: none;
    text-decoration: underline;
    text-decoration-thickness: 0.1rem;
    text-align: left;
    font-weight: bold;
    white-space: nowrap;
}

#GitHub{
    height: 3rem;
}

/*--------- Styling for the first section of the pag (Main Banner) ------------*/
#main-banner{
    padding-top: 4rem;
    height: 30rem;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 0.25rem solid black;
    background-color: honeydew;
    flex-direction: column;
}

.banner-heading{
    flex: 1.5;
    justify-content: start;
    align-items: left;
    flex-direction: column;
    height: 100%;
}

.banner-heading h3{
    margin-top: 3rem;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 0;
}

.banner-image{
    justify-content: right;
    align-items: center;
    height: 100%;
    display: flex;
    justify-content: center;
}

.banner-image img{
    height: 90%;
    width: auto;
    border-radius: 100%;
}

#htmlIcon, #cssIcon, #jsIcon, #gitIcon, #reactIcon{
    position: absolute;
    height: 6rem;
    width: auto;
}

#htmlIcon{
    left: 22%;
    margin-top: 6.5rem;
}

#cssIcon{
    left: 19%;
    margin-top: 14.5rem;
}

#jsIcon{
    left: 22%;
    margin-top: 22.5rem;
}

#gitIcon{
    right: 22%;
    margin-top: 6.5rem;
}

#reactIcon{
    right: 19%;
    margin-top: 14.5rem;
}

/*---------Styling for the second section of the page (skills & projects) ------------
#skills-projects{
    height: 25rem;
    width: 100%;
    border-bottom: 0.25rem solid black;
}
/*----Projects SubSection----
#projects{
    flex: 2; 
    order: 1;
    border-right: 0.25rem solid black;
}

.projects-top{
    justify-content: center;
    align-items: center;
    height: 20%
}

.projects-top h2{
    font-size: 1.5rem;
    margin: 0.2rem 0;
    color: black;
    font-family: 'Rampart One', cursive;
}

.projects-bottom{
    display: flex;
    justify-content: space-around;
    height: 60%;
    margin-top: 1rem;
}

.portfolio-1, .portfolio-2{
    border: 1px solid black;
    width: 40%;
    border-radius: 5rem;
}

.portfolio-1{
    background: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) ), url("../../Resources/Images/hybrid.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    align-items: center;
    justify-content: center;
}

.portfolio-2{
    background: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) ), url("../../Resources/Images/Question.png");
    background-repeat: no-repeat;
    background-color: slategray;
    background-size: cover;
    background-position: center;
    align-items: center;
    justify-content: center;
}

.portfolio-1 h3, .portfolio-2 h3{
    text-align: center;
    font-weight: 600;
    font-size: 1.75rem;
}

.portfolio-2 h3{
    display: none;
}

/*----Skills sub-section----
#skills{
    flex: 1;
    order: 2;
    height: 100%;
    flex-wrap: wrap;
}

#skills h2{
    font-size: 1.5rem;
    margin: 0.2rem 0;
    color: black;
    font-family: 'Rampart One', cursive;
}

.skills-top{
    height:20%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.skills-bottom{
    height: 80%;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

#icon{
    height: 35%;
    width: auto;
    
}

/*---------Styling for the third section of the page (contact) ------------*/
#contact-form{
    /*Turning off this section as possibly moving to a new page*/
    display: none;
}

/*---------Styling for the footer------------*/
footer{
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    width: 100%;
}

.footer-left{
    margin-left: 1rem;
    display: flex;
    height: 100%;
    width: auto;
}

.footer-left img{
    height: 100%;
    width: auto;
    margin-left: 1rem;
}

.footer-middle{
    position: absolute;
    left: 46.5%;
}

button {
    background-color: rgb(208, 13, 13);
    border: 0.25rem solid black;;
    border-radius: 0.4rem;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
}

button:hover {
    background-color: brown;
    color: white;
    cursor: pointer;
}

button:active{
    background-color: rgb(124, 33, 33);
}

.footer-right{
    margin-right: 1rem;
}